.noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
              user-select: none; 
  }

.selectedable{
    user-select: all;   
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.active{
    background-color: rgb(95, 95, 95);
}

.btn-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.back-btn{
    position: fixed;
    bottom: 20px;
    left: 243.2px;
}
.Font_2_Header{
    font-size: 20px;
}

.fieldset{
    position: fixed;
    width: 70%;
    bottom: 100px;
}
.kext_a:link{
    color: black;
    text-decoration: none;
}
.kext_a:visited{
    color: black;
    text-decoration: none;
}
.kext_a:hover{
    color: gray;
    text-decoration: none;
}
.kext_a:active{
    color: black;
    text-decoration: none;
}

.pg_icon{
    position: fixed;
    bottom: 110px;
    right: 20px;
    font-size: 30px;
}
.pg_icon:link{
    color: #000;
    text-decoration: none;
}
.pg_icon:visited{
    color: #000;
    text-decoration: none;
}
.pg_icon:hover{
    color: #333;
    text-decoration: none;
}
.pg_icon:active{
    color: #000;
    text-decoration: none;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    
}
#loader_div{
    transform: translateX(16em);
    padding-top: 100px;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

  #err_cp{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 11px;
    text-align: center;
  }

#btn-more{
    position: relative;
    margin-left: 20px;
    margin-top: 550px;
}

#a_more {
    position: fixed;
    /* display: block; */
    /* z-index: inherit; */
    margin-left: 20px;
    margin-top: 200px;
    border: 1px solid black;
}